header{
    background-color: gray;
    border: 5px solid chartreuse;
    width: 700px;
    height: 200px;
    border-radius: 10px;
    
    -khtml-border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;


}